@use "../variables" as *;
@use "../mixins" as *;
@use "../functions" as *;
@use "../responsive" as *;

.logo {
  color: inherit;
  text-decoration: none;
  outline: none;
  transition: all 0.3s ease;

  &:hover {
    outline: 2px solid $gray-700;
  }

  h1 {
    padding: gap(1) gap(2);
    font-size: $icon-x-small;
    font-weight: $extra-bold;

    @include for-tablet-landscape-up {
      font-size: $icon-small;
    }
  }
}
