@use "../variables" as *;
@use "../mixins" as *;
@use "../functions" as *;
@use "../responsive" as *;

.meetup {
  width: 100%;
  padding: gap(2) gap(4);
  margin: gap(4) auto;
  background-color: $white;
  border: 01px solid $gray-200;
  border-radius: $border-radius;

  @include for-tablet-portrait-up {
    max-width: layoutColumn(10);
  }

  @include for-tablet-up {
    max-width: layoutColumn(9);
  }

  @include for-desktop-up {
    max-width: layoutColumn(8);
  }

  @include for-medium-desktop-up {
    max-width: layoutColumn(7);
  }

  &--header {
    margin-bottom: gap(1);

    &-title {
      font-weight: bold;
    }
  }

  &--body {
    margin-bottom: gap(1);

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin-bottom: gap(1);
    }

    &-description {
      margin: gap(2) 0 gap(1);

      &.preview {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }

  &--footer {
    margin: gap(1) 0;

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: gap(1);
      margin-top: gap(2);
      margin-left: auto;
      padding: gap(1) gap(3);
      border-radius: $border-radius;
      border: 01px solid $gray-200;
    }
  }
}
